@import url("https://fonts.googleapis.com/css2?family=Encode+Sans&family=Roboto+Condensed&display=swap");

* {
  font-family: "Encode Sans", sans-serif;
  font-family: "Roboto Condensed", sans-serif;
  font-size: 24px;
}

body {
  height: 90vh;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
}

.calculator {
  border: 1px solid black;
  display: flex;
  flex-direction: column;
}

#display {
  font-size: 32px;
  border: 1px solid black;
  margin: 10px;
  height: 75px;
  padding-right: 10px;
  display: flex;
  justify-content: end;
  align-items: center;
}

.buttons {
  border: 1px solid black;
  display: flex;
  padding: 10px;
}

#operators,
.etc,
#digits {
  margin: 5px;
  gap: 10px;
}

#operators,
.etc {
  display: flex;
  flex-direction: column;
}

#digits {
  display: flex;
  flex-wrap: wrap;
  width: 260px;
}

button {
  margin: 0;
  width: 0;
  height: 80px;
  width: 80px;
}

button[number="0"],
#calculate {
  flex: 1;
}